<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header>
        <a class="toggleNav" href="#">+</a>
        <nav class="nav hide">
            <a href="./index">Home</a>
            <a href="./index">Skills</a>
            <a href="./index">Projects</a>
            <a href="./index">Contact</a>
        </nav>
    </header>

    <section class="content">
        <section class="profileContainer">
            <img src="images/placeholderpfp.svg" alt="profile picture">
            <p>{{ profileText }}</p>
        </section>

        <section class="content githubCards">
            <img class="githubCardLarge"
                src="http://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=Arnav2323&theme=default"
                alt="github contribution card">
            <img class="githubCardMedium"
                src="http://github-profile-summary-cards.vercel.app/api/cards/stats?username=Arnav2323&theme=default"
                alt="github top languages by repository card">
            <img class="githubCardMedium"
                src="http://github-profile-summary-cards.vercel.app/api/cards/repos-per-language?username=Arnav2323&theme=default"
                alt="github stats card">
        </section>

    </section>



    {{ content }}
</body>

<script>
    const navBar = document.querySelector(".nav");
    const toggleNavButton = document.querySelector(".toggleNav");

    toggleNavButton.addEventListener("click", () => {
        if (navBar.classList.contains('hide')) {
            toggleNavButton.textContent = "-";
            navBar.classList.remove('hide');
        } else {
            toggleNavButton.textContent = "+";
            navBar.classList.add('hide');
        }
    });
</script>

</html>