--- 
layout: base.njk
---

<article class="skill">
    <img src={{"/imgSrc/" | htmlBaseUrl }} alt="picture of programming skills" />
    <h1>{{ skill }}</h1>
    <ul>
        <li>Expirience: {{ expr }}</li>
        <li>Confidence: {{ conf }}</li>
        <li>Projects: {{ proj }}</li>
    </ul>
    {{ content | safe}}
</article>
