:root {
    --main-orange: #EFB036;
    --main-blue: #4C7B8B;

    --dark-mode-background: #121212;
    --dark-mode-color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 1.5rem;
}

body {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h1 {
    /* Random number I pulled outta my .... brain... */
    font-size: 80px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1:hover {
    color: fuchsia;
}

h1:active {
    color: deeppink;
}

h2 {
    /* Random number I pulled outta my .... brain... */
    font-size: 40px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2:hover {
    color: fuchsia;
}

h2:active {
    color: deeppink;
}

.title {
    display: flex;
    justify-content: center;
}

.darkMode {
    background-color: var(--dark-mode-background);
    color: var(--dark-mode-color);
}

header {
    margin-bottom: 1rem;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.icon {
    margin: 1rem;
    max-width: 2rem;
}

.aboutMe {
    display: flex;
    flex-direction: column;
}

.aboutMeP {
    max-width: 600px;
    text-align: center;
    align-self: center;
}

.skills {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.skills ul {
    list-style-type: none;
}

.headerSocial {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerSocial ul {
    list-style: none;
}

a:link,
a:visited {
    color: inherit;
}

a:hover {
    color: fuchsia;
}

a:active {
    color: deeppink;
}

@media (max-width: 1000px) {
    * {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 1.5rem;
    }

    .aboutMeP {
        max-width: 600px;
        text-align: center;
        align-self: center;
    }

    .content {
        width: 95%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    #toggleNavButton {
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #EFB036;
        color: black;
    }

    .githubCards {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 1rem;
        margin-top: 2rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}