---
layout: base
title: Arnav - Dev
---

<section class="aboutMe">
    <p class="aboutMeP">
        Hi I&apos;m Arnav — a Software Engineer at Radweb,
        where I design, build, and maintain modern web
        applications. I&apos;m also in my third year of a
         BSc in Software Engineering at the University
            of Portsmouth, continuing to sharpen my
            technical skills and deepen my understanding
            of software development.   
    </p>
</section>

<section class="skills">
    <h2>Skills Overview</h2>
    <ul>
        <li>Frontend Development</li>
        <li>Backend Development</li>
        <li>All Developments :)</li>
    </ul>

    <h2>Technical Skills</h2>
    <ul>
        <li>PHP</li>
        <li>Laravel</li>
        <li>Css</li>
        <li>Scss</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>C#</li>
        <li>React</li>
        <li>React Redux</li>
        <li>SQL</li>
        <li>HTML</li>
    </ul>
</section>
