---
layout: base
title: Arnav - Dev
profileText: Hey, I'm Arnav! I'm a Junior Software Developer currently working at Radweb. I am also a third-year student at the University of Portsmouth, currently in a placement year.
---

<section class="profileContainer">
    <img src="/images/placeholderpfp.svg" alt="profile picture">
    <p>{{ profileText }}</p>
</section>

<section class="githubCards">
    <img class="githubCardLarge"
            src="https://github-readme-streak-stats.herokuapp.com/?user=Arnav2323&theme=default&hide_border=true"
            alt="github contribution stats card"
            loading="lazy"
        >
    <img class="githubCardMedium"
            src="https://github-readme-stats.vercel.app/api?username=Arnav2323&theme=default&show_icons=true&hide_border=true&count_private=true"
            alt="github overall stats card"
            loading="lazy"
        >
    <img class="githubCardMedium"
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=Arnav2323&theme=default&show_icons=true&hide_border=true&layout=compact"
        alt="github most used languages card"
        loading="lazy"
        >
</section>
